footer{
    position: absolute;
    bottom: 0;
    height: 44px;
    width: 100%;
    border: 1px solid grey;
    background-color: yellow;
  }
  .taskbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }